<!DOCTYPE html>
<html>

<head>
    <title>《率土之滨》手游官网_网易全自由沙盘战略手游</title>
    <meta name="from" content="git:STZB/stzb-fab-pc-20181018">
    <meta name="keywords" content="率土之滨,率土，之滨，率土之滨官网,率土之滨下载，率土之滨福利,率土之滨周年礼包，率土之滨特色，
            率土之滨新服活动，新服好礼，五星武将，安卓下载,ios下载,新手礼包,领取,攻略,寸土必争,周年庆典,我们的战争,全新地图,典藏卡牌,
            周年卡包,周年活动">
    <meta name="description" content="小到寸土，大到国策，每一个玩家的选择都可能激起一串串连锁反应，时刻影响着《率土之滨》225万格沙盘世界的局势走向。">
    <meta charset="utf-8">
    <meta name="author" content="网易，NetEase Inc">
    <meta name="copyright" content="网易，NetEase Inc">
    <meta name="pmid" content="19250">
    <meta name="editor" content="zhulin">
    <meta name="designer" content="Kevin,qiufangyuan">
    <meta name="front-end technicist" content="huangchuan">
    <meta name="applicable-device" content="PC">
    <link rel="dns-prefetch" href="https://nie.res.netease.com">
    <!--[if lt IE 9]>
    <script src="https://nie.res.netease.com/comm/html5/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://nie.res.netease.com/comm/css/base.css">
    <link rel="stylesheet" href="https://nie.res.netease.com/comm/js/nie/util/alertBox/css/alertBox.css">
    <link rel="stylesheet" type="text/css" href="https://nie.res.netease.com/comm/js/nie/util/gallery/css/galleryV2.css">
    <link type="text/css" rel="stylesheet" href="https://stzb.res.netease.com/pc/fab/20181018150426//css/index_37318fb.css" media="all">
    <!--<script data-fixed="true">
        ! function() {
            function params(u, p) {
                var m = new RegExp("(?:&|/?)" + p + "=([^&$]+)").exec(u);
                return m ? m[1] : '';
            }
            if(/iphone|ios|android|ipod/i.test(navigator.userAgent.toLowerCase()) == true && params(location.search, "from") != "mobile") {
                location.href = '/m/boot.html';
            }
        }();
    </script>-->
    <!--ignore-->

</head>

<body>
<!--[if lt IE 7]>
<div style="position:absoulute;left:0;top:0;width:100%;height:50px;background:rgb(255,255,233);color:rgb(30,84,148);border-bottom:1px solid rgb(230,230,198);text-align:center;line-height:50px;font-size:12px;">您使用的浏览器版本过低，可能会影响到您浏览本网页，建议您升级您的浏览器。</div>
<![endif]-->

<div class="head">


    <div class="slogan"></div>
    <div class="tubiao"></div>
    <div class="main">
        <div id="flash-wrap"></div>
    </div>
    <a class="logo" target="_blank"><img src="https://webinput.nie.netease.com/img/stzb/logo.png/200" alt="logo"><span>- 网易全自由沙盘战略手游 - </span></a>
    <a class="btn_wjz" target="_blank" href="/">登录</a>
    <a class="btn_gw" target="_blank" href="/sign">注册</a>

    <div class="main dl-video">
        <div class="dl_wrap">
            <a class="icon" target="_blank"><img src="https://webinput.nie.netease.com/img/stzb/icon.png/96"></a>
            <div id="nie-download" class="nie-download" pub-name="下载参数" data-download="stzb|gw">
                <div class="NIE-qrcode"></div>
                <div class="buttons">
                    <a target="_blank" class="link-apple NIE-button-ios"></a>
                    <a target="_blank" class="link-android NIE-button-android"></a>
                </div>
            </div>
        </div>
        <a class="dld-zmb" id="dld-zmb" href="https://adl.netease.com/d/g/stzb/c/gw" target="_blank">
            <div class="desc">
                <p> 发布时间：2019-08-30 版本号：2.2.1 文件大小：959M<br>
                    支持系统：Windows 7/8/10<br>
                    MD5码：55cf263d76d6b13511bb08f9a0110d78<br>
                    温馨提示：桌面版目前仅支持官网安卓用户和iOS用户使用，使用时请将手机客户端更新至最新。</p>
            </div>
        </a>





        <div class="video-wrap">
            <a href="javascript:;" class="JvideoBtn" data-src="https://stzb.v.netease.com/2019/0919/9277f8a174446e389ccd4d07df569dbdqt.mp4">
                <i></i>
            </a>
        </div>
    </div>
</div>

<!-- 新服福利 -->
<div class="container container2">
    <div class="main">
        <div class="p_title "><img src="https://stzb.res.netease.com/pc/fab/20181018150426//img/t1_384896e.png" alt="新服福利"></div>
        <ul class="fuli clearfix">
            <li class="js_pop" data-id="6">
                <div class="bottom_side">充值任意金额送5星【何太后】</div>
            </li>
            <li class="js_pop" data-id="7">
                <div class="bottom_side">连续登录7天，领取2张【五星武将卡】</div>
            </li>
            <li class="js_pop" data-id="8">
                <div class="bottom_side">累计充值128元，最高返利【3840虎符】</div>
            </li>
            <li class="js_pop" data-id="9">
                <div class="bottom_side">加入同盟，最高获得【1000虎符】奖励</div>
            </li>
            <li class="js_pop" data-id="10">
                <div class="bottom_side">通关演武即送【王美人】+【500虎符】</div>
            </li>
            <li class="js_pop" data-id="11">
                <div class="bottom_side">同盟夺取3级以上城池，可获得大量虎符</div>
            </li>
            <li class="js_pop" data-id="12">
                <div class="bottom_side">累计充值满66元免费获5星吴太史慈，招募1次四星名将</div>
            </li>
            <li class="js_pop" data-id="13">
                <div class="bottom_side">根据个人排行榜的排名，可获得大量虎符</div>
            </li>
        </ul>
    </div>

</div>




<!-- 沙盘战略 -->
<div class="container container1">
    <div class="main">
        <div class="p_title "><img src="https://stzb.res.netease.com/pc/fab/20181018150426//img/t4_20af73d.png" alt="沙盘战略"></div>
        <div class="outer_wrap ">
            <div class="gallery_container">
                <a href="javascript:void(0);" class="gallery_item">
                    <img src="https://stzb.res.netease.com/pc/fab/20181018150426//img/tese/5_81d987e.jpg" alt="沙盘战略">
                    <span class="cover"></span>
                    <i></i>
                </a>
                <a href="javascript:void(0);" class="gallery_item">
                    <img src="https://stzb.res.netease.com/pc/fab/20181018150426//img/tese/1_8f992ea.jpg" alt="沙盘战略">
                    <span class="cover"></span>
                    <i></i>
                </a>
                <a href="javascript:void(0);" class="gallery_item">
                    <img src="https://stzb.res.netease.com/pc/fab/20181018150426//img/tese/2_7965c95.jpg" alt="沙盘战略">
                    <span class="cover"></span>
                    <i></i>
                </a>
                <a href="javascript:void(0);" class="gallery_item">
                    <img src="https://stzb.res.netease.com/pc/fab/20181018150426//img/tese/3_4cecfdc.jpg" alt="沙盘战略">
                    <span class="cover"></span>
                    <i></i>
                </a>
                <a href="javascript:void(0);" class="gallery_item">
                    <img src="https://stzb.res.netease.com/pc/fab/20181018150426//img/tese/4_0ee95de.jpg" alt="沙盘战略">
                    <span class="cover"></span>
                    <i></i>
                </a>
                <a href="javascript:void(0);" class="gallery_prev"></a>
                <a href="javascript:void(0);" class="gallery_next"></a>
            </div>
        </div>
    </div>
</div>

<div class="container container3">
    <div class="p_title animation"><img src="https://stzb.res.netease.com/pc/fab/20181018150426//img/t2_f9200b8.png" alt="东风起"></div>
    <div class="role_wrap clearfix">
        <a class="role role1 animation" target="_blank" href="//stzb.163.com/2018/04/10/20989_748921.html">
        </a>
        <a class="role role2 animation" target="_blank" href="//stzb.163.com/2018/04/10/20989_748920.html">
        </a>
        <a class="role role3 animation xwj" target="_blank" href="//stzb.163.com/news/20180426/20395_751514.html">
        </a>
        <a class="role role4 animation hljh" target="_blank" href="javascript:;">
        </a>
    </div>
    <!-- 分享 -->
    <div class="share-bg"></div>
    <div id="share"></div>
</div>

<div class="bigMask"></div>

<div class="pop">
    <div class="close"></div>
    <h3></h3>
    <div class="text">
        <div class="con">
            <p>只要累计登录7天即可获得3张4星武将卡，2张5星武将卡</p>
            <p>发奖方式：累计登录满指定天数时以登录奖励形式发放。</p>
        </div>
    </div>

</div>

<div class="video-pop">
    <a href="javascript:;" class="video-close"></a>
    <div class="video-content"></div>
</div>
<!-- <div class="jqqd">
    <div class="jqqd_con">
        “敬请期待......”
    </div>
    <div class="close">
    </div>
</div> -->
<div class="hljh_h">
    <div class="hljh_con">
        <h2>《率土之滨》老玩家超级回归计划<h2>
            <div class="jianjie">
                <p>活动时间：4月11日11点～4月25日11点</p>
                <p>活动范围：4月8日00：00前创建的帐号，且连续72小时未登录游戏的玩家</p>
                <p>参与方法：满足上述条件的玩家登录游戏，36小时内可通过游戏内系统邮件获取“老玩家回归礼包”一个（仅限登录原服务器已存在的角色获取，每个角色仅能获取一次，新服新建角色不能获取）</p>
            </div>
            <div class="close">
            </div>
        </h2></h2></div>

</div>
<div id="NIE-copyRight"></div>

<div id="share_content" style="display:none">
    <h1>网易《率土之滨》，谋略热爱者的游戏</h1>
    <div id="share_title" pub-name="分享文案">网易《率土之滨》，谋略热爱者的游戏</div>
    <div id="share_url" pub-name="分享地址  "></div>
    <div id="share_desc" pub-name="分享文本">沙盘战略，寸土必争！这个世界资源有限，争夺无处不在，是乱世永恒，还是天下一统？这是一场人与人创造的乱世风云史！</div>
    <img id="share_pic" data-src="https://stzb.res.netease.com/pc/fab/20181018150426//img/share_74059d8.png" pub-name="分享图片">
</div>

<div style="display: none;" id="js_yingxiao" pub-name="营销点代码">https://gad.netease.com/mmad/point?point_id=10402&s=st0ZY1v0%2B1MwCgUM6dV5j23j40o%3D</div>
<!--ignore不能换行-->
<script charset="gb2312" src="https://nie.res.netease.com/comm/js/jquery(mixNIE).1.11.js"></script>
<script charset="gb2312" type="text/javascript" src="https://nie.res.netease.com/comm/js/nie/ref/lightbox2.js"></script>
<script charset="gb2312" src="https://stzb.res.netease.com/pc/fab/20181018150426//js/app/common_97008f8.js"></script>
<script charset="gb2312" src="https://stzb.res.netease.com/pc/fab/20181018150426//js/app/data_bf4ff1a.js"></script>
<script charset="gb2312" src="https://stzb.res.netease.com/pc/fab/20181018150426//js/app/index_d26a2f3.js"></script>
<script charset="gb2312" type="text/javascript" id="qdy_js" pub-name="js"></script>
</body>

</html>

<!--This is Git Project From STZB/stzb-fab-pc-20181018(10299)-->
<!--This is Git Project From STZB/stzb-gw-20180529(9064)-->
